spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/point_roulette
    username: postgres
    password: postgres

  jpa:
    properties:
      hibernate:
        format_sql: true
    show-sql: true

logging:
  level:
    root: INFO
    com.example.pointroulette: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
