spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      connection-init-sql: SET search_path=public
      data-source-properties:
        sslmode: require

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET}

logging:
  level:
    root: INFO
    com.example.pointroulette: INFO
    org.hibernate.SQL: OFF
    org.hibernate.type.descriptor.sql.BasicBinder: OFF
